span {
	display: inline-block;
}

.container {
	padding: 5%;
	background-color: #fff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;
	margin: 5%
}

.danger {
	background-image: linear-gradient(to top, #FF0000, #FF6347 ) ; 
	color: white; 
	padding: 1%;
	font-size: 15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;
	 cursor: pointer;	
}

.positive {
	background-image: linear-gradient(to top, #4169E1, #6495ED) ; 
	color: white; 
	padding: 1%;
	font-size: 15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;	
	 cursor: pointer;	
}

.new {
	background-image: linear-gradient(to top, #2E8B57, #3CB371) ; 
	color: white; 
	padding: 1%;
	font-size: 15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;	
	 cursor: pointer;	
}

.title {
	color: #808080;
	font-weight: bold;
}

.description {
	color: #808080;
}
